<mat-card class="profile-card">
    <img mat-card-image src="/assets/background.png" class="card-img-top" alt="profile background">
    <div>
        <label for="file-input">
            <div *ngIf="isImageLoaded" fxLayoutAlign="center">
                <span *ngIf="isImageAvailable">
                    <img [src]="imageToShow" alt="sample profile photo" class="profile-photo">
                </span>
            </div>
        </label>
        <input type="file" name="picture" id="file-input" (change)="onProfilePhotoUpload($event)" accept="image/*" />
    </div>

    <p class="user-name">Name : {{activeUserObject.firstName + ' ' + activeUserObject.firstName}}</p>
    <p class="user-address">City : {{activeUserObject.city}}</p>
    <hr>
    <div class="user-info">Connections : {{noOfConnections}}</div>
    <hr>
    <div class="user-info">Posts : {{noOfPosts}}</div>
    <hr>
</mat-card>