*{
    color: black;
}
.header{
    border-bottom: 1px solid lightgray;
    color: black;
    padding-left:10%;
    padding-right:10%;
    width:100%;
}

.header h3{
    font-weight: bold;
    font-size: 32px;
}

.body{
    padding-left:10%;
    padding-right:10%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* width:90%; */
}

.body form{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
}

.body .user-name{
    display: flex;
    align-items: center;
    gap:10px;
    width:100%;
}
.body .user-name-phone{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left:0px;
    gap:10px;
    width:30%;
}
.user-name-phone input{
    flex:1;
    outline:none;
    border:1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    background-color: #F5F6F7;
}

.user-name input{
    flex:1;
    outline:none;
    border:1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    background-color: #F5F6F7;
}

.email-password{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
}

.email-password div.row input{
    flex: 1;
    outline:none;
    width:63%;
    border:1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    background-color: #F5F6F7;
}

.email-password input{
    flex: 1;
    outline:none;
    border:1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    background-color: #F5F6F7;
}

.date-of-birth{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
}

.date-of-birth input{
    flex: 1;
    outline:none;
    border:1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    background-color: #F5F6F7;
}

.radbtn{
    display: flex;
    flex-direction:column;
    gap:10px;
    margin-top: 10px;
}

.radio{
    display: flex;
    flex-direction:row;
    gap:10px;
}

.radio label{
    width: 40%;
    outline:none;
    border:1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    background-color: #F5F6F7; 
}



.submit-button {
    padding: 10px 18px;
    background-color: #00A400;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width:200px;
    align-self: center;
    outline:none;
    border:none;
    border-radius: 10px;
    color:white;
    font-size: 16px;
    letter-spacing: 1.1px;
    cursor: pointer;
    margin-top: 2em;
  }

  .check-button {
    padding: 10px 14px;
    background-color:rgb(10, 108, 255);
    font-weight: bold;
    
    outline:none;
    border:none;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    
  }

  .ng-invalid.ng-touched {
    border-color: red;
}