<section class="register">
    <div class="header">
      <h3 mat-dialog-title>Settings</h3>
      <p>Change Your Settings as You wish</p>
    </div>
  
    <div class="body">
      <form #form="ngForm" (ngSubmit)= "onSubmit(form)">
        <div class="user-name">
          <input type="text" placeholder="FirstName" name="firstName" [(ngModel)] = "firstName" >
          <input type="text" placeholder="LastName" name="lastName" [(ngModel)] ="lastName">
        </div>
        <div class="user-name-phone">
            <input type="text" placeholder="phone" name="phone" [(ngModel)] = "phone" >
        </div>
        <div class="user-name">
          <input type="text" placeholder="city" name="city" [(ngModel)] = "city" >
          <input type="text" placeholder="state" name="state" [(ngModel)] = "state" >
          <input type="text" placeholder="country" name="country" [(ngModel)] = "country" >
          <input type="text" placeholder="pincode" name="pincode" [(ngModel)] = "pincode" >
        </div>
        <div class="email-password">
          
          <input type="text" placeholder="photoId" name="photoId" [(ngModel)] = "photoid" >
          <!-- <div class="row" >
            <input type="text" placeholder="Email" name="email" ngModel #email="ngModel" required email>
          </div> -->
          
          <input type="password" placeholder="Password" name="password" [(ngModel)] = "password" [disabled]="isedit()" [hidden]="!isedit()">
          <button class="submit-button" type="button" (click)= "isedit()">Edit Password</button>  
        </div>
  
        <!-- <div class="date-of-birth">
          <label for="dob">Date of Birth</label>
          <input style="display:inline-block" name="dob" id="dob" ngModel type="date" >
        </div> -->
  
        <!-- <div class="gender">
          <label>IsAdmin</label>
          <div class="radio">
            <label class="radbtn">Yes <input name="isAdmin" value="yes" ngModel type="radio" ></label>
            <label class="radbtn">No <input name="isAdmin" value="no" ngModel type="radio"></label>
          </div>
        </div> -->
        
        <button type="submit" class="submit-button" 
        [disabled] = "!form.valid ">Update</button>
      </form>
    </div>
  
  
  </section>