<section class="register">
  <div class="header">
    <h3 mat-dialog-title>Sign Up</h3>
    <p>It's quick and easy</p>
  </div>

  <div class="body">
    <form #form="ngForm">
      <div class="user-name">
        <input type="text" placeholder="FirstName" name="firstName" ngModel required>
        <input type="text" placeholder="LastName" name="lastName" ngModel required>
      </div>

      <div class="email-password">
        <div class="row" >
          <input type="text" placeholder="Email" name="email" ngModel #email="ngModel" required email>

          <button class="check-button" style="margin-left: 10px;" (click)="checkAvailablity(email)" >
            Check Availablity</button>
            
          <span *ngIf="notAvailable && clicked" style="color:red">{{checkAvailablity(email)}}</span>
          <span *ngIf="!notAvailable && email.touched && email.valid && email.dirty " style="color:green">{{checkAvailablity(email)}}</span>
          
          
        </div>

        <input type="password" placeholder="Password" name="password" ngModel required>
      </div>

      <div class="date-of-birth">
        <label for="dob">Date of Birth</label>
        <input style="display:inline-block" name="dob" id="dob" ngModel type="date" required>
      </div>

      <div class="gender">
        <label>Gender</label>
        <div class="radio">
          <label class="gender">Male <input name="gender" value="male" ngModel type="radio" ></label>
          <label class="gender">Female <input name="gender" value="female" ngModel type="radio"></label>
        </div>
      </div>
      
      <button type="submit" class="submit-button" [mat-dialog-close]="form.value" 
      [disabled] = "!form.valid && clicked">Sign Up</button>
    </form>
  </div>


</section>