.navbar{
    display: flex;
    width: 100vw;
    height: 3em;
    background-color:var(--primary-color);
    color: white;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2em;
}

.center{
    flex: 0.5;
    display: flex;
    flex-direction: row;    
    justify-content:space-evenly;
}

.right{
    flex: 0.5;
    display: flex;
    flex-direction: row;
    margin-right: 1em;
    justify-content: flex-end;
}

.fb-logo{
    width: 40px;
    height: 40px;
    margin-left: 1em;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .icon{
    width: 40px;
    height: 40px;
    padding-right: 1em;
    margin-right: 2em;
}

.right .icon{
    margin-right: 1em;
    align-items: center;
}

.searchbar{
    height: 100%;
}

.searchbar input{
    height: 70%;
    margin: 3% 0;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
}
input{
    outline:none;
    border:none;
    border-radius: 2px;
}
button{
    padding-left:5px;
    outline:none;
    border:none;
    background:none;
    cursor:pointer;
    
}
