<nav class="navbar">
    <div class="fb-logo icon">fb</div>

    <!-- this contains the icon based navigation -->
    <div class="center" *ngIf = "isUserloggedin">
        <div class="icon">
            <a [routerLink] = "'/home'"> Home</a>
        </div>
        <div class="icon"><div class="icon">
            <a [routerLink] = "'/network'"> Network</a>
        </div></div>
        <div class="icon"><div class="icon">
            <a [routerLink] = "'/friends'"> Friends</a>
        </div></div>
    </div>


    <!-- this contains text based navigation -->
    <div class="right">
        <div class="icon" *ngIf = "isUserloggedin">
            <form class="searchbar" ngForm>
                <input type="text" placeholder=" Search..." name="search" ngModel #search/>
                <button class= "button" (click)="Search(search)" ><i class="fa fa-search"></i></button>
            </form>
            
        </div>

        <div class="icon"><div class="icon" *ngIf = "isUserloggedin">
            <a [routerLink] = "'/settings'"> Settings</a>
        </div></div>
        <div class="icon" *ngIf = "isUserloggedin"><a [routerLink]= "'/logout'"> Logout</a></div>
    </div>

</nav>
<router-outlet></router-outlet>
