<!-- create post section -->
<mat-card class="create-post">
    <mat-card-content>
        <form>
            <mat-form-field class="form-field">
                <input matInput type="text" class="title" placeholder="What's on your mind?">
            </mat-form-field>
            <mat-card-actions align="end">
                <label for="image-input">
                    <i class="fa fa-camera camera-position" appIcon title="Add a picture"></i>
                </label>
                <input type="file" class="image-upload" id="image-input" accept="image/*" />
                <button mat-raised-button type="submit">post</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
<!-- end of create post section -->

<!-- ##### NO POST INDICATOR ##### -->
<div *ngIf="posts==null">
    <mat-card class="nopost-card">
        <mat-card-content>
            <i class="fa fa-bell" appIcon [color]="'red'" aria-hidden="true"></i>
            <p class="card-text">You do not have any post! Post something... </p>
        </mat-card-content>
    </mat-card>
</div>


<!-- user posts section -->


<!-- end of posts section -->