<!-- create post section -->
<mat-card class="create-post">
    <mat-card-content>
        <form (ngSubmit)="onPost()" #form="ngForm">
            <mat-form-field class="form-field">
                <input matInput type="text" class="title" placeholder="What's on your mind?">
            </mat-form-field>
            <mat-card-actions align="end">
                <label for="image-input">
                    <i class="fa fa-camera camera-position" appIcon title="Add a picture"></i>
                </label>
                <input type="file" class="image-upload" id="image-input" accept="image/*" />
                <button mat-raised-button type="submit">post</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
<!-- end of create post section -->

<!-- ##### NO POST INDICATOR ##### -->
<div *ngIf="posts==null">
    <mat-card class="nopost-card">
        <mat-card-content>
            <i class="fa fa-bell" appIcon [color]="'red'" aria-hidden="true"></i>
            <p class="card-text">You do not have any post! Post something... </p>
        </mat-card-content>
    </mat-card>
</div>


<!-- #### POST LOADING indicator #### -->
<div class="progress-spinner" *ngIf="isLoading">
    <mat-card class="spinner">
        <div class="spinner-container">
        <mat-spinner></mat-spinner>
        </div>
    </mat-card>
</div>


<!-- user posts section -->

<div *ngFor="let post of posts">
    <mat-card class="show-posts">
        <div fxLayout="row">
            <span fxFlex="12%">
                <img [src]="post.userIcon" class="user-profile-photo">
            </span>
            <span fxFlex="90%">
                <div class="show-posts-header">{{ post.userName }} </div>
                <div class="profession">{{post.profession}}</div>
            </span>
            <span fxFlex="5%" *ngIf="activeUserObject.isAdmin; else activeUsersPost">
                <i class="fa fa-ban custom-icon" (click)="onHidePostClick(post)" matTooltip="Hide Post"></i>
            </span>

            <ng-template #activeUsersPost>
                <div fxFlex="5%" *ngIf="post.isMyPost">
                    <i class="fa fa-ban custom-icon" (click)="onHidePostClick(post)" matTooltip="Hide Post"></i>
                </div>
            </ng-template>
        </div>
        <br>

        <mat-card-content>
            <div *ngIf=post.isPostImage>
                <img mat-card-image src="{{post.postImage}}">
            </div>

            <div *ngIf=!post.isPostImage>
                <div class="show-posts-body">{{ post.post }}</div>
            </div>
            <div class="timer">{{post.postTimer}} ago</div>
            <hr class="base-line">
        </mat-card-content>
    </mat-card>
</div>


<!-- end of posts section -->
