<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container">
    <table class="table text-center ">
        <thead>
            <tr>
                <th class="align-middle" scope="col">Profile</th>
                <th class="align-middle" scope="col">First</th>
                <th class="align-middle" scope="col">Last</th>
                <th class="align-middle" scope="col">Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of friends">
                <th class="align-middle" scope="col"><img src="{{user.photoId}}" alt="{{user.email}}"
                        style="max-width: 100px; border-radius: 50%;"></th>
                <th class="align-middle" scope="col">{{user.firstName}}</th>
                <th class="align-middle" scope="col">{{user.lastName}}</th>
                <th class="align-middle" scope="col">{{user.gender}}</th>
            </tr>
        </tbody>
    </table>
</div>