<div class="body">
    <h2>Don't Worry!!! We have Solutions</h2>
    <form #form="ngForm">
      <div class="email-password">
        <input type="password" placeholder="Enter New Password" name="password" ngModel>
      </div>

      <div class="email-password">
        <input type="password" placeholder="Confirm New Password" name="confirmPassword" ngModel>
      </div>

      <div class="date-of-birth">
        <label for="dob">Date of Birth</label>
        <input style="display:inline-block" name="dob" id="dob" ngModel type="date">
      </div>

      
      <button type="submit" class="submit-button" [mat-dialog-close]="form.value">Reset Password</button>
    </form>
</div>
